    @import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
    }
    
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }
    
     :root {
        --primary: #f65151;
        --text: #111;
        /* background: var(--primary); */
    }
    
    .text__center {
        text-align: center;
        margin: auto;
        justify-content: center;
    }
    
    .text--center {
        text-align: center;
    }
    
    body {
        min-height: 100vh;
    }
    
    .container {
        width: 100%;
        padding: 30px 100px;
    }
    
    .navigation {
        width: 100%;
        height: 58px;
        display: flex;
        align-items: center;
        padding: 50px 35px 0 35px;
    }
    
    .navigation__logo img {
        width: 135px;
    }
    
    .navigation a {
        text-decoration: none;
        color: #000;
        font-weight: 400;
        font-size: 18px;
        line-height: 36px;
        transition: 0.3s ease-in;
    }
    
    .navigation__links a:hover {
        color: var(--primary);
        border-bottom: 3px solid var(--primary);
    }
    
    .navigation .navigation__link--activ {
        color: var(--primary);
        border-bottom: 3px solid var(--primary);
    }
    
    .navigation__links {
        display: flex;
        align-items: center;
        flex: 1;
        justify-content: flex-end;
    }
    
    .navigation__links ul {
        display: flex;
        list-style: none;
    }
    
    .navigation__link {
        margin-right: 50px;
    }
    
    .navigation__icons ul {
        display: flex;
        margin-left: 80px;
    }
    
    .navigation__icons i {
        font-size: 23px;
        margin-right: 50px;
    }
    
    .header__bar {
        display: none;
    }
    
    @media screen and (max-width: 1000px) {
        .navigation__logo img {
            width: 110px;
        }
        .navigation__links ul {
            display: none;
        }
        .header__bar {
            display: block;
            font-size: 23px;
            margin-right: 30px;
        }
    }
    /* =====bio===== */
    
    .bio .bio__content {
        display: flex;
        margin-top: 132px;
    }
    
    .bio__img {
        width: 40%;
        margin-right: 100px;
    }
    
    .bio__img img {
        width: 530px;
        height: 510px;
    }
    /* =====bio-texts===== */
    
    .bio .bio__texts {
        margin-right: 140px;
    }
    
    .bio__texts h3 {
        font-weight: 300;
        font-size: 30px;
        line-height: 45px;
        margin-top: 75;
    }
    
    .bio__texts h1 {
        font-weight: 600;
        font-size: 60px;
        line-height: 108px;
    }
    
    .bio__texts h4 {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 24px;
        margin-bottom: 54px;
    }
    
    .bio__texts p {
        font-weight: 300;
        font-size: 18px;
        line-height: 35px;
        letter-spacing: 0.025em;
    }
    
    .bio__btn {
        font-weight: 500;
        font-size: 14px;
        padding: 10px 30px;
        color: #fff;
        background: var(--primary);
        border-radius: 5px;
        border: none;
        margin-top: 55px;
        cursor: pointer;
        transition: 0.4s ease-in;
    }
    
    .bio__btn:hover {
        background: #ccc;
        color: var(--primary);
    }
    /* =====media 1100 */
    
    @media screen and (max-width: 1100px) {
        .bio .bio__texts {
            margin-right: 50px;
        }
        .bio__texts h3 {
            font-size: 24px;
            line-height: 35px;
            margin-top: 75;
        }
        .bio__texts h1 {
            font-size: 50px;
            line-height: 85px;
        }
        .bio__texts h4 {
            font-weight: 400;
            font-size: 20px;
            margin-bottom: 44px;
        }
        .bio__texts p {
            font-size: 15px;
            line-height: 25px;
        }
        .bio__btn {
            font-size: 12px;
            padding: 10px 22px;
            margin-top: 32px;
        }
    }
    /* =====media 1000 */
    
    @media screen and (max-width: 1000px) {
        .bio .bio__content {
            margin-top: 120px;
        }
        .bio__img img {
            width: 470px;
            height: 450px;
        }
        .bio .bio__texts {
            margin-right: 30px;
        }
        .bio__texts h3 {
            font-size: 22px;
            line-height: 35px;
        }
        .bio__texts h1 {
            font-size: 45px;
            line-height: 85px;
        }
        .bio__texts h4 {
            font-weight: 400;
            font-size: 18px;
            margin-bottom: 44px;
        }
        .bio__texts p {
            font-size: 13px;
            line-height: 25px;
        }
        .bio__btn {
            font-size: 12px;
            padding: 8px 20px;
            margin-top: 32px;
        }
    }
    /* ====meadi 884 ====== */
    
    @media screen and (max-width: 848px) {
        .bio .bio__content {
            margin-top: 115px;
        }
        .bio__img img {
            width: 430px;
            height: 410px;
        }
        .bio .bio__texts {
            margin-right: 30px;
        }
        .bio__texts h3 {
            font-size: 19px;
            line-height: 30px;
        }
        .bio__texts h1 {
            font-size: 35px;
            line-height: 75px;
        }
        .bio__texts h4 {
            font-weight: 300;
            font-size: 16px;
            margin-bottom: 40px;
        }
        .bio__texts p {
            font-size: 11px;
            line-height: 23px;
        }
        .bio__btn {
            font-size: 12px;
            padding: 8px 18px;
            margin-top: 29px;
        }
    }
    
    @media screen and (max-width: 780px) {
        .bio .bio__content {
            margin-top: 90px;
        }
        .bio__img {
            width: 35%;
        }
        .bio__img img {
            width: 360px;
            height: 380px;
        }
        .bio .bio__texts {
            margin-right: 30px;
        }
        .bio__texts h3 {
            font-size: 19px;
            line-height: 19px;
        }
        .bio__texts h1 {
            font-size: 35px;
            line-height: 65px;
        }
        .bio__texts h4 {
            font-weight: 300;
            font-size: 16px;
            margin-bottom: 40px;
        }
        .bio__texts p {
            font-size: 11px;
            line-height: 22px;
        }
        .bio__btn {
            font-size: 12px;
            padding: 8px 14px;
            margin-top: 29px;
        }
    }
    /* ====meadi ====== 720 */
    
    @media screen and (max-width: 720px) {
        .bio__img {
            width: 35%;
        }
        .bio__img img {
            width: 325px;
            height: 325px;
        }
        .bio .bio__texts {
            margin-right: 20px;
        }
        .bio__texts h3 {
            font-size: 15px;
            line-height: 15px;
        }
        .bio__texts h1 {
            font-size: 27px;
            line-height: 55px;
        }
        .bio__texts h4 {
            font-weight: 300;
            font-size: 12px;
            margin-bottom: 30px;
        }
        .bio__texts p {
            font-size: 9px;
            line-height: 18px;
        }
        .bio__btn {
            font-size: 12px;
            padding: 8px 11px;
            margin-top: 29px;
        }
    }
    
    @media screen and (max-width: 684px) {
        .bio__img {
            width: 35%;
        }
    }
    
    @media screen and (max-width: 632px) {
        .bio__img {
            display: none;
        }
        .bio .bio__texts {
            width: 100%;
            text-align: center;
        }
        .bio__texts h3 {
            font-weight: 300;
            font-size: 25px;
            line-height: 40px;
            margin-top: 75;
        }
        .bio__texts h1 {
            font-weight: 400;
            font-size: 55px;
            line-height: 90px;
            margin-bottom: 0;
        }
        .bio__texts h4 {
            font-weight: 400;
            font-size: 20px;
            margin-bottom: 50px;
        }
        .bio__texts p {
            font-weight: 300;
            font-size: 15px;
            line-height: 30px;
            letter-spacing: 0.025em;
        }
        .bio__btn {
            font-weight: 400;
            font-size: 14px;
            padding: 10px 25px;
            margin-top: 48px;
        }
    }
    /* =====expertise===== */
    
    .expertise {
        width: 100%;
        height: 100%;
        margin-top: 135px;
    }
    
    .expertise .expertise__sub {
        font-weight: normal;
        font-size: 17px;
        line-height: 36px;
        letter-spacing: 0.175em;
        margin-left: 65px;
    }
    
    .expertise__title .expertise__h3 {
        font-weight: normal;
        font-size: 48px;
        line-height: 72px;
    }
    /* =====expertise content===== */
    
    .expertise .expertise__content {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 50px;
    }
    
    .expertise__content__left {
        width: 40%;
        margin-top: 115px;
    }
    
    .expertise__content__left .expertise__thinking h3 {
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 54px;
        margin-bottom: 20px;
    }
    
    .expertise__content .expertise__line {
        width: 100%;
        height: 20px;
        background: #e3e3e3;
        border-radius: 10px;
        margin-bottom: 55px;
    }
    
    .l__1 {
        width: 75%;
        height: 20px;
        background: var(--primary);
        border-radius: 10px;
    }
    
    .l__2 {
        width: 86%;
        height: 20px;
        background: var(--primary);
        border-radius: 10px;
    }
    
    .l__3 {
        width: 70%;
        height: 20px;
        background: #6b4cc3;
        border-radius: 10px;
    }
    
    .l__4 {
        width: 100%;
        height: 20px;
        background: #6b4cc3;
        border-radius: 10px;
    }
    
    .expertise__midle__line {
        width: 6px;
        height: 360px;
        background: #7dafff71;
        border: 3px dashed #fffdfd;
        box-sizing: border-box;
        border-radius: 30px;
        transform: matrix(-1, 0, 0, 1, 0, 0);
    }
    
    @media screen and (max-width: 1050px) {
        .expertise__content__left {
            margin-top: 20px;
        }
        .expertise__title .expertise__sub {
            font-size: 15px;
            line-height: 32px;
        }
        .expertise__title .expertise__h3 {
            font-size: 42px;
            line-height: 68px;
        }
        .expertise__midle__line {
            display: none;
        }
        .expertise__content__left .expertise__thinking h3 {
            font-size: 30px;
            line-height: 50px;
            margin-bottom: 18px;
        }
    }
    
    @media screen and (max-width: 950px) {
        .expertise__content__left {
            margin-top: 0;
        }
        .expertise__title .expertise__sub {
            font-size: 12px;
            line-height: 27px;
        }
        .expertise__title .expertise__h3 {
            font-size: 38px;
            line-height: 56px;
        }
        .expertise__content__left .expertise__thinking h3 {
            font-size: 22px;
            line-height: 40px;
            margin-bottom: 16px;
        }
    }
    
    @media screen and (max-width: 850px) {
        .container {
            padding: 20px 40px;
        }
        .expertise__title .expertise__sub {
            font-size: 10px;
            line-height: 22px;
        }
        .expertise__title .expertise__h3 {
            font-size: 31px;
            line-height: 50px;
        }
        .expertise__content__left .expertise__thinking h3 {
            font-size: 18px;
            line-height: 33px;
            margin-bottom: 12px;
        }
    }
    
    @media screen and (max-width: 750px) {
        .expertise__title .expertise__sub {
            font-size: 14px;
            line-height: 28px;
        }
        .expertise__title .expertise__h3 {
            font-size: 38px;
            line-height: 55px;
        }
        .expertise__content__left .expertise__thinking h3 {
            font-size: 22px;
            line-height: 38px;
            margin-bottom: 16px;
        }
        .expertise__content__left {
            width: 100%;
        }
        .expertise .expertise__content {
            display: block;
            width: 100%;
        }
    }
    /* =====services===== */
    
    .services__top {
        display: flex;
        justify-content: space-between;
        margin: 50px 0 95px 100px;
    }
    
    .services__title {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
    }
    
    .services__title .services__sub {
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 0.275em;
    }
    
    .services__title h2 {
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 72px;
    }
    /* =====services content===== */
    
    .services__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        flex-wrap: wrap;
        grid-column-gap: 150px;
        grid-row-gap: 130px;
    }
    
    .services__card {
        display: flex;
        align-items: center;
    }
    
    .color__b {
        background: #dbceff !important;
    }
    
    .card__img {
        width: 170px;
        height: 128px;
        border-radius: 50%;
        background: rgba(255, 180, 180, 1);
        text-align: center;
        padding-top: 28px;
        margin-right: 30px;
    }
    
    .card__text h3 {
        font-weight: normal;
        font-size: 36px;
        line-height: 54px;
    }
    
    .card__text p {
        font-size: 18px;
        line-height: 27px;
        margin-top: 15px;
    }
    /* =====portfolio section===== */
    
    .portfolio__row {
        display: flex;
        align-items: center;
        margin: 132px 0 116px 0;
    }
    
    .portfolio__side__img img {
        width: 75px;
    }
    
    .portfolio__title span {
        font-family: Poppins;
        font-weight: normal;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 0.275em;
    }
    
    .portfolio__title h2 {
        font-family: Poppins;
        font-weight: normal;
        font-size: 48px;
        line-height: 72px;
        padding-left: 65px;
    }
    
    .portfolio__content {
        padding: 0 36px 0 98px;
    }
    
    .portfolio__content .portfolio__card__img {
        display: flex;
        object-fit: cover;
        justify-content: space-between;
    }
    
    .portfolio__content .portfolio__card__img img {
        width: 390px;
        height: 385px;
        border-radius: 10px;
        object-fit: fill;
        transition: 0.6s ease-in;
        box-shadow: 3px 3px 23px #ccc;
    }
    
    .portfolio__content .portfolio__card__img img:hover {
        transform: translateY(-30px);
    }
    
    .portfolio__icons {
        display: flex;
        margin-top: 66px;
        margin-bottom: 110px;
    }
    
    .portfolio__icons .left__icon,
    .portfolio__icons .right__icon {
        width: 70px;
        height: 55px;
        border-radius: 10px 0 0 10px;
        background: rgba(236, 236, 236, 1);
        transition: 0.4s ease-in;
    }
    
    .portfolio__icons .right__icon {
        border-radius: 0 10px 10px 0;
    }
    
    .portfolio__icons .left__icon:hover,
    .portfolio__icons .right__icon:hover {
        background: rgba(246, 81, 81, 1);
        color: #fff;
        padding: 2px 0;
    }
    
    .portfolio__icons .fas {
        font-size: 35px;
        padding: 10px 0;
    }
    /* =====brands section===== */
    
    .brands {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* grid-gap: 21px; */
        position: relative;
        margin-top: 200px;
    }
    
    .brands .brands__icons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;
        margin: auto;
    }
    
    .brands .brands__content {
        margin-top: 145px;
    }
    
    .brands__icons .brands__icon-card {
        width: 225px;
        height: 260px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 5px 5px 15px #ccc;
        margin-bottom: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .brands__icons .bottom {
        margin-top: 75px;
    }
    
    .brands__content .brands__title {
        font-weight: normal;
        font-size: 42px;
        line-height: 65px;
        margin-bottom: 45px;
    }
    
    .brands__content .brands__title-text {
        font-weight: 300;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.025em;
    }
    
    .brands__btn .brands__btn-explore {
        padding: 8px 40px;
        margin-top: 40px;
        background: #f65151;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border: none;
        border-radius: 5px;
        font-weight: 500;
        font-size: 17px;
        letter-spacing: 0.025em;
        color: #ffffff;
        transition: 0.4s ease-in;
        -webkit-transition: 0.4s ease-in;
        -moz-transition: 0.4s ease-in;
        -ms-transition: 0.4s ease-in;
        -o-transition: 0.4s ease-in;
    }
    
    .brands__btn .brands__btn-explore:hover {
        background: #fff;
        color: #111;
    }
    
    .brands__side-img img {
        position: absolute;
        top: -60px;
        right: 0;
        width: 130px;
    }
    /* =====feedback===== */
    
    .feedback {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 100px;
    }
    
    .feedback .feedback__title {
        font-weight: normal;
        font-size: 48px;
        line-height: 72px;
        margin-bottom: 45px;
    }
    
    .feedback .feedback__name {
        font-weight: 500;
        font-size: 36px;
        line-height: 54px;
    }
    
    .feedback .feedback__name span {
        font-weight: normal;
        font-size: 24px;
        line-height: 36px;
    }
    
    .feedback .feedback__rate i {
        color: gold;
        margin-bottom: 40px;
        font-size: 23px;
    }
    
    .feedback .feedback__text {
        font-weight: normal;
        font-size: 18px;
        line-height: 169.5%;
        margin-bottom: 50px;
    }
    
    .feedback .feedback__btn {
        font-weight: normal;
        font-size: 15px;
        line-height: 169.5%;
        padding: 12px 15px;
        background: #f65151;
        color: #fff;
        border: none;
        box-shadow: 3px 4px 15px #ccc;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        transition: 0.4s ease-in;
        -webkit-transition: 0.4s ease-in;
        -moz-transition: 0.4s ease-in;
        -ms-transition: 0.4s ease-in;
        -o-transition: 0.4s ease-in;
    }
    
    .feedback .feedback__btn:hover {
        background: #fff;
        color: #111;
    }
    
    .feedback .feedback__img img {
        width: 570px;
    }
    /* =====message===== */
    
    .message {
        text-align: center;
        width: 100%;
        margin-top: 120px;
        margin-bottom: 150px;
    }
    
    .message__content .message__hello {
        font-weight: normal;
        font-size: 30px;
        line-height: 169.5%;
        margin-left: 70px;
    }
    
    .message__content .message__icon {
        font-size: 40px;
    }
    
    .message__content .message__title {
        font-weight: normal;
        font-size: 44px;
        line-height: 169.5%;
        margin-bottom: 65px;
    }
    
    .message__form {
        position: relative;
        display: flex;
        justify-content: center;
    }
    
    .message__form .message__input {
        width: 50%;
        height: 80px;
        border: none;
        box-shadow: 3px 4px 15px #ccc;
        border-radius: 5px 0 0 5px;
        -webkit-border-radius: 5px 0 0 5px;
        -moz-border-radius: 5px 0 0 5px;
        -ms-border-radius: 5px 0 0 5px;
        -o-border-radius: 5px 0 0 5px;
        font-weight: normal;
        font-size: 20px;
        line-height: 30px;
        padding-left: 85px;
        padding-right: 30px;
        color: red;
        outline-color: red;
    }
    
    .message__form .message__input::placeholder {
        font-weight: normal;
        font-size: 20px;
        line-height: 30px;
        opacity: 0.4;
    }
    
    .message__form .message__btn {
        width: 10%;
        height: 80px;
        border: none;
        border-radius: 0 5px 5px 0;
        -webkit-border-radius: 0 5px 5px 0;
        -moz-border-radius: 0 5px 5px 0;
        -ms-border-radius: 0 5px 5px 0;
        -o-border-radius: 0 5px 5px 0;
        box-shadow: 3px 4px 15px #ccc;
        background: rgba(145, 192, 255, 1);
        color: #fff;
        font-weight: 500;
        font-size: 22px;
        line-height: 54px;
    }
    
    .message__form .message__btn:hover {
        background: #da4d4d6c;
    }
    
    .message__form .message__img {
        position: absolute;
        left: 21%;
        top: 25px;
        width: 50px;
    }
    /* =====footer===== */
    
    .contact {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .contact__oro--logo {
        width: 145px;
    }
    
    .contact__social--media {
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 0.07em;
        margin: 5px 0;
    }
    
    .fas.fa-basketball-ball {
        font-size: 20px;
        color: red;
        /* border-bottom: dotted; */
    }
    
    .fab.fa-behance {
        width: 20px;
        font-size: 13px;
        padding: 3px;
        height: 20px;
        border-radius: 50%;
        background: darkblue;
        color: white;
        text-align: center;
    }
    
    .fab.fa-twitter {
        color: #57CBFD;
    }
    
    .fab.fa-linkedin {
        width: 20px;
        font-size: 13px;
        padding: 3px;
        height: 20px;
        border-radius: 50%;
        background: #639AFF;
        color: white;
        text-align: center;
    }
    
    .fas.contact__icon {
        font-size: 35px;
    }
    
    .contact__by {
        font-weight: 500;
        font-size: 20px;
        line-height: 36px;
        margin: 5px 0;
        letter-spacing: 0.065em;
    }
    
    .contact__number {
        font-weight: normal;
        font-size: 13px;
        line-height: 24px;
        letter-spacing: 0.065em;
        color: #8B8585;
    }
    
    .contact__faq--logo {
        width: 100px;
    }
    
    .contact__faq {
        font-weight: normal;
        font-size: 20px;
        line-height: 36px;
        letter-spacing: 0.065em;
    }
    
    .fab.fa-skype {
        color: #25D9F8;
    }
    
    .line {
        width: 100%;
        height: 2px;
        background: #ccc;
        margin-top: 60px;
    }
    
    .footer__copyright {
        font-weight: normal;
        font-size: 13px;
        line-height: 24px;
        letter-spacing: 0.065em;
        color: #8B8585;
        margin: 30px 0 50px 0;
    }